$dark: #2e2e2e;
$black: #212121;
$white: #ffffff;

$success: #00c851;
$info: #33b5e5;
$danger: #ff4444;
$accent: #ffbb33;


$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

@mixin sm {
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg-width}) and (max-width: #{$xl-width - 1px}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  @include sm {
    width: 100%;
  }
  @include md {
    width: 90%;
  }
  @include lg {
    width: 80%;
  }
  @include xl {
    width: 70%;
  }
}
